{%load staticfiles%}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>View Reservations</title>



        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'link_wish/css/style.css' %}">




  </head>

  <body>


<table class="container">
	<thead>
		<tr>
      <th><h1>Owner</h1></th>
			<th><h1>Conf#</h1></th>
			<th><h1>Checkin</h1></th>
			<th><h1>Nights</h1></th>
			<th><h1>Resort</h1></th>
			<th><h1>Unit Size</h1></th>
			<th><h1>Booked</h1></th>
			<th><h1>Traveler</h1></th>
			<th><h1>Upgrade Status</h1></th>
			<th><h1>Points</h1></th>
		</tr>
	</thead>
	<tbody>
    {%for reservation in reservations%}
      {%if reservation.canceled%}
        <tr class = "canceled">
      {%else%}
        <tr>
      {%endif%}
  			<td class = "username">{{reservation.fk_owner.username}}</td>
  			<td class = "conf">{{reservation.confirmation_number}}</td>
  			<td class = "checkin">{{reservation.date_of_reservation}}</td>
  			<td class = "nights">{{reservation.number_of_nights}}</td>
  			<td class = "location">{{reservation.location}}</td>
  			<td class = "size">{{reservation.unit_size}}</td>
  			<td class = "booked">{{reservation.date_booked}}</td>
  			<td class = "traveler">{{reservation.guest_certificate}}</td>
  			<td class = "upgrade">{{reservation.upgrade_status}}</td>
  			<td class = "points">{{reservation.points_required_for_reservation}}</td>
  			<td class = "link_it"><a href="/guest/makeWish3/link/{{reservation.id}}/{{wish_id}}"><button>Link This</button></a></td>
  		</tr>
    {%endfor%}
	</tbody>
</table>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</html>
